.header {
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    border: 2px solid;

    position: fixed;
    right: 30px;
    top: 50%;
    opacity: 1;
    transition: opacity .3s;
    transform: translateY(-50%);
    z-index: 10;
}
