.header {
    height: 80px;
    background-color: rgb(103, 204, 147);
    display: flex;
    align-items: center;

    display: none;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}