@keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

.container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    animation-name: slideUp;
    animation-duration: 1s;
}

.center {
    width: 80%;
    margin: 0 auto;
}

.title {
    background-color: rgb(224, 255, 181);
    margin: 20px 0;
}

