@import '/src/common/sass/variables';

.title {
    padding: 80px 0;
    position: relative;
    .subtitle {
        color: $primaryColor;
    }
    .bgTitle {
        position: absolute;
        font-size: 110px;
        left: 0;
        right: 0;
        letter-spacing: 10px;
        line-height: .3;
        text-transform: uppercase;
        font-weight: 800;
        transform: translate(-50%, 50%);
        color: hsla(0,0%,100%,.07);
    }
}
.title, .subtitle {
    white-space: nowrap;
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
}