@import '../common/sass/variables';

.mainBlock {
    height: 100vh;
    background-color: #111;
    .colorBlock {
        position: fixed;
        height: 200%;
        width: 100%;
        transform: rotate(-15deg);
        left: -83%;
        top: -50%;
        background-color: $primaryColor;
    }
    .photo {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: calc(100vh - 80px);
        z-index: 11;
        border-radius: 30px;
        left: 40px;
        top: 40px;
        box-shadow: 0 0 7px rgb(0 0 0 / 90%);
    }
    .textBlock {
        max-width: 550px;
        // width: 100%;
        margin: 0 auto;

    .title {
        font-size: 51px;
        line-height: 62px;
        font-weight: 700;
        white-space: nowrap;
        margin: 18px 0 10px;
        padding-left: 70px;
        text-transform: uppercase;
        display: block;
        color: $primaryColor;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 29px;
            height: 4px;
            width: 40px;
            border-radius: 10px;
            background-color: $primaryColor;
        }
    .subtitle {
        text-transform: uppercase;
        display: block;
    }
        }
    .description {
        margin: 15px 0 28px;
        font-weight: 500;
        font-size: 16px;
        line-height: 35px;
        font-family: $textFontFamily;
        }
    }
}



