@import '../../common/sass/variables';

.skill {
    background-color: $secondaryColor;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $primaryColor ;
    .icon {
        font-size: 100px;
    }
    .title {
        color: $primaryColor;
        margin-bottom: 15px; 
    }
    .description {
        font-size: 27px;

    }
}