@import '../../common/sass/variables';


.project {
    cursor: pointer;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;

    &:hover .img  {
        filter: brightness(0.4);
        transform: scale(1.1);
        transition: all 1s ease;
    }
    .onHover {
        position: relative;
        overflow: hidden;
        width: 100%;
        width: 500px;
        border-radius: 5px;
        .imgContainer {
            width: 100%;
            height: 300px;
            &:hover  {
                transition: all 1s ease;
                cursor: pointer;
            }   
            .img {
                width: inherit;
                height: inherit;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .sliderText {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 15%;
            top: 100%; //позволяет скрывать элемент

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 20%;
                height: 20%;
                border-color: #ffffff;
                border-style: solid;
            }

            &::before {
                left: 20px;
                top: 20px;
                border-width: 2px 0 0 2px;
            }
            &::after {
                right: 20px;
                bottom: 20px;
                border-width: 0 2px 2px 0;
            }
            .sliderTitle {
                font-size: 30px;
                color: $primaryColor;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
        }
    }
}

.project:hover .sliderText {
    transform: translateY(-100%);
    //позволяет скрыть элемент
}



  