.project {
    background-color: rgb(182, 116, 169);
    font-size: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 20px;
    gap: 30px;
}
.imgContainer {
    background-color: #fff;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentContainer {
    display: flex;
    flex-direction: column;
}
.contentContainer {
    justify-content: space-between;
}
.link {
    border: 1px solid;
}
