* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 0 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: #111;
}

*, :after, :before {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #252525 inset !important;
    box-shadow: 0 0 0 30px #252525 inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: #fff !important ;
}
