.item {
    min-height: 100vh;
}
.projectsContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;

    border: 1px solid;
}